$baseColor: #162c3a;
$secondColor: #e7bd70;
$thirdColor: #c4c4c4;

html,
body {
	background-color: $baseColor;
	margin: 0;
	height: 100%;
}

.headTitle {
	color: #fff;
	font-family: Lora;
}

.main {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	width: 80%;
	height: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;

	ol,
	ul {
		list-style: none;
	}

	li {
		display: flex;
		padding: 20px 0 20px;
	}

	a {
		font-family: Lora;
		text-decoration: none;
		position: relative;
		display: block;
		padding: 16px 0;
		margin: 0 12px;
		font-size: 1.2rem;
		text-transform: uppercase;
		transition: color 0.1s, background-color 0.1s;
		color: #fff;
	}
	a:hover {
		color: $secondColor;
	}
	a:focus,
	a:active {
		color: $secondColor;
	}

	a::before {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		height: 3px;
		width: 100%;
		background-color: $secondColor;
		-webkit-transform-origin: center top;
		transform-origin: center top;
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
		transition: color 0.1s, -webkit-transform 0.2s ease-out;
		transition: color 0.1s, transform 0.2s ease-out;
		transition: color 0.1s, transform 0.2s ease-out,
			-webkit-transform 0.2s ease-out;
	}

	a:active::before {
		background-color: $secondColor;
	}

	a:hover::before,
	a:focus::before {
		-webkit-transform-origin: center top;
		transform-origin: center top;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

.active {
	color: $secondColor !important;
	border-bottom: 4px solid $secondColor;
}

.inNav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageCropper {
	width: 30rem;
	height: 30rem;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-items: center;
	align-items: center;
	border: 2px solid #c4c4c4;
	position: relative;
}

.profilePic {
	width: 100%;
	object-fit: scale-down;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $secondColor;
	border-radius: 10px;
}

.selfIntro {
	color: #fff;
	width: 60%;
	max-height: 450px;
	min-width: 110px;
	overflow-y: auto;
	padding-top: 30px;
	h2 {
		font-family: Lora;
		border-left: 5px solid $secondColor;
		border-radius: 5px;
		box-sizing: border-box;
		padding-left: 10px;
		opacity: 0.8;
	}
	p {
		font-family: Merriweather;
	}
}

.skills {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: min-content;
	box-sizing: border-box;
	padding: 10px;
}

.skill {
	margin-bottom: 30px;
	width: 80%;
	margin: 0 auto;
	padding: 5px 10px;
	background-color: $thirdColor;
	border-radius: 15px;
	margin-bottom: 20px;
	h2 {
		font-family: Lora;
		color: #000;
		border-bottom: 3px solid #000;
	}
}

.logoGroup {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo {
	min-width: 5rem;
	max-width: 6rem;
}
